/* HOME BO */
.boHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
}

.homeBackofficeContainer {
  display: flex;
  flex-wrap: wrap;
}

.boHomeTitle {
  text-align: left;
  padding-left: 20px;
}

.blockForm {
  width: 390px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;

  text-align: center;
  color: #0e401c;
  padding: 1rem;

  a {
    width: max-content;
    font-weight: 700;
    font-size: 22px;
    line-height: 17px;
  }
}

.newForm {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  background: linear-gradient(270deg,
      #62c188 0%,
      rgba(98, 193, 136, 0.5) 98.55%);

  span {
    line-height: 2.2rem;
  }

  .icon-plus {
    font-size: 40px;
  }
}

.blockFormExist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1.3rem;
  background: linear-gradient(269.83deg,
      #eaedef 0.16%,
      rgba(234, 238, 239, 0.35) 98.29%);
  border-radius: 10px;
}

.formExistFirstLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 27px;
  margin: 0;

  div:first-child {
    margin-left: 0px;
  }

  p {
    font-size: 15px;
  }

  .icon-external-link {
    color: #62c188;
  }
}

.formExistTitle {
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 26px;
    text-align: left;
  }
}

.formExistLastLine {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  a {
    font-size: 22px;

    &:first-child {
      padding: 0.6rem;
      border: 2px solid transparent;
      border-radius: 5px;

      text-align: center;
      margin-right: 15px;

      &:hover {
        border: 2px solid #62c188;
      }
    }

    span {
      font-size: 17.5px;
    }
  }
}