/* COLORS */
$white : #fff;
$black: #000;

$green-ligth: #EAF9EC;
$green-middle: #62C188;
$green : #35764B;
$green-dark: #0E401C;

$yellow : #F5BA49;

$pink : #F09F97;
$pink-dark : #FF7B6F;


$blue-ligth: #E3EDF5;
$blue-middle: #5D92BE;
$blue-dark: #003D6E;
