@import "fontsCustom.scss";
@import "components.scss";

html * {
  box-sizing: border-box;
  font-family: "Averta Std PE"
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #0e401c;
}

h2 {
  font-family: 'Averta Std PE';
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

}

.header {
  border-bottom: 1px solid #d3d3d3;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5% 3% 5%;
}

.header-logo {
  width: 250px;
}

.header nav a:first-child {
  margin-right: 10px;
  ;
}

/* CONTENT ALL PAGE */
.greenPage {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 75vh;
  margin: 5vh auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #eaf9ec;
  border-radius: 0.5rem;
}

.whitePage {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 75vh;
  margin: 5vh auto 0 auto;
  padding-top: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}



/* BUTTONS */
.greenButton {
  min-width: 142px;
  
  height: 50px;
  padding: 0.6rem;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #62c188;

  background-color: #62c188;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #62c188;
    border: 2px solid #62c188;
  }
}

.redButton {
  width: 142px;
  height: 50px;
  padding: 0.6rem;
  border: 2px solid #ff7b6f;
  border-radius: 0.4rem;
  background-color: #fff;
  text-decoration: none;
  color: #ff7b6f;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #ff7b6f;
    color: #fff;
    border: 2px solid #ff7b6f;

  }

}

/* MESSAGE AND ERROR */

.goodMessage,
.errorMessage {
  position: absolute;
  top: 80vh;
  left: 75vw;
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  width: 300px;

  -webkit-animation: errorMesage 1000ms;
  animation: errorMesage 1000ms;
}

.goodMessage {
  background-color: #62c188;
}

.errorMessage {
  background-color: #FF7B6F;
}