/* LOADING */
.load {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90vw;
    min-height: 75vh;
    margin: 5vh auto 0 auto;
    padding-top: 2rem;
    background-color: #fff;
}

.loading {
    margin-inline: auto;

}

.loading {
    --height: 15px;
    --loader-color: #62C188;
    --animation-duration: 0.5s;
    display: flex;
    align-items: flex-end;
    gap: calc(var(--height) / 4);
    height: calc(var(--height) * 1.75);
    width: max-content;
}

.loading:before,
.loading:after {
    content: "";
}

.loading>div,
.loading:before,
.loading:after {
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #62C188;
    animation: bounce var(--animation-duration) ease-in-out infinite alternate;
}

.loading:after {
    animation-delay: calc(var(--animation-duration) / 2);
}

.loading>div {
    animation-delay: calc(var(--animation-duration) / 4);
}

@keyframes bounce {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-65%);
    }
}

/* EMPTY FORM */
.emptyForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    min-height: 75vh;
    margin: 5vh auto 0 auto;
    padding-top: 2rem;
    background-color: #EAF9EC;
}

.userHomeEmptyTitle {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: from-font;
}


/* BLOCK PICTO COLOR */
.pinkBlock,
.orangeBlock,
.greenBlock,
.blueBlock {
    width: 73px;
    height: 37px;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 26px;
}

.pinkBlock {
    background-color: #F09F97;
}

.orangeBlock {
    background-color: #F5BA49;
}

.greenBlock {
    background-color: #9ACE83;
}

.blueBlock {
    background-color: #79A5DD;
}

/* FORM CUTOMIZE */
.customizeblock {
    display: flex;
    height: 55vh;

    .colorCustomizeBlock,
    .imageCustomizeBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .colorCustomizeBlock {
        .colorBigCircleBlock {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 400px;
        }

        .colorBigCircle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #F09F97;
            margin: 15px;

        }

        .colorGreen {
            background-color: #62C188;
        }

        .colorBlue {
            background-color: #79A5DD;
        }

        .colorOrange {
            background-color: #F5BA49;
        }

        .colorPurple {
            background-color: #B33FD6;
        }

        .colorLittleCircle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #F09F97;
        }

    }

    .nowColorBlock {
        p {
            color: #0E401C;
            font-weight: 600;
            margin: 15px 0;

        }

        div {
            margin: 0 auto;
        }
    }

    .imageCustomizeBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .button-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 350px;

            color: #fff;
            border-radius: 10px;
            background: linear-gradient(270deg, #62C188 0%, rgba(98, 193, 136, 0.5) 98.55%);
            cursor: pointer;

            span.label {
                padding: 10px 0;
                font-size: 20px;
                font-weight: 600;
            }

            .icon-plus {
                font-size: 60px;
            }
        }

        .imageBloack {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }

        img {
            max-width: 500px;
            max-height: 500px;
        }

        .redButton {
            width: max-content;
            margin-top: 20px;
            background-color: transparent;

            &:hover {
                background-color: #ff7b6f;
            }
        }

        #upload {
            display: inline-block;
            position: absolute;

            width: 300px;
            height: 350px;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
    }



}